<a href="https://colab.research.google.com/github/nsnrgny/nsnrgny02/blob/main/Nisa_Nur_Gunay_WV4_Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print('Hello, World!')

In [ ]:
Building_name = 'Bouwkunde' # str data type
Year_built = 1945 # int data type
Area = 14847.0 # float data type
Has_library = True # Boolean

In [ ]:
print(Building_name, Year_built, Area, Has_library)

Bouwkunde 1945 14847.0 True

In [ ]:
data = [0,1,1,2,3,5,8,13,21,34] # A list of integers
print(data)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
data = [0,1,1,2,3,5,8,13,21,34] # A list of integers
print(data)

print(data[0])
print(data[6])
print(data[2:6])
print(data[:4])
print(data[4:])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
0
8
[1, 2, 3, 5]
[0, 1, 1, 2]
[3, 5, 8, 13, 21, 34]

In [ ]:
a = 4
b = 6.0
print(type(a))
print(type(b))

print(type(a)) # before changing the type
a = float(a)   # changing type from int to float
print(type(a)) # print the change to verify

<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
print(a + b)
print(b / a)
print(a * b)
print((a * a)+(b * b))
print(a>b)

10.0
1.5
24.0
52.0
False

In [ ]:
area = 15000

if area >= 30000:
  print("large scale building")
elif area >= 15000:
  print('medium scale building')
else:
  print('small scale building')

medium scale building

In [ ]:
floor_areas = [650,100,300,250]
sorted_data = sorted(floor_areas)

n = len(sorted_data)

if n % 2 == 1:
    median = sorted_data[n // 2]
else:
    median = (sorted_data [n // 2] + sorted_data [n // 2 - 1]) / 2
print("Median =", median)

Median = 275.0

In [ ]:
data = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]  # a list of integers

# create empty list to store values in
even_numbers = [] # assignign variable for even numbers
odd_numbers = [] # assignign variable for odd numbers

# iterate over each value in the list
for i in data:
    # Check if i value is an even number
    if i % 2 == 0:
        even_numbers.append(i) # even numbers are added to the list variable

    # Otherwise the value is an odd number
    else:
        odd_numbers.append(i) # odd numbers are added to the list variable

# Display the outcome of checking the data in the list
print("The number of even numbers are:",(len(even_numbers)))
print("The number of odd numbers are:",(len(odd_numbers)))
print("List of even integers:", even_numbers)
print("List of odd integers:", odd_numbers)

The number of even numbers are: 4
The number of odd numbers are: 6
List of even integers: [0, 2, 8, 34]
List of odd integers: [1, 1, 3, 5, 13, 21]